@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ced6ce;
  --primary-color-opa: #ced6cee3;
  --secondary-color: rgb(80, 121, 79);
  --secondary-color-opa: rgb(80, 121, 79);
  --accent-color: rgb(246, 215, 176);
  --accent-color-opa: rgba(254, 192, 116, 0.528);
}
p {
  font-weight: 200;
}
