@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ced6ce;
  --primary-color-opa: #ced6cebe;
  --secondary-color: rgb(80, 121, 79);
  --secondary-color-opa: rgba(80, 121, 79, 0.08);
  --accent-color: rgb(246, 215, 176);
  --accent-color-opa: rgba(254, 192, 116, 0.528);
}
p {
  font-weight: 200;
}
html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}
